<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="endpoint" value="https://apinams.ehealthvendortest.health.gov.au/fhir/v1.2.0" />
    <add key="token" value="" />
    <add key="clientId" value="[Your Client Id]" />
    <add key="appVersion" value="[Your App Version]" />
    <add key="userIdentifier" value="8003610000000000" />
    <add key="userName" value="Dr Anna Jones" />
    <add key="tokenEndpoint" value="https://apinams.ehealthvendortest.health.gov.au/api/oauth/authorize/login" />
    <add key="clientSecret" value="[Your Client Secret]" />
    <add key="redirectUrl" value="https://localhost/oauth_callback " />
    <add key="deviceModel" value="iPhone" />
    <add key="deviceIdentifier" value="DeviceIDFromMobile" />
    <add key="deviceMake" value="Apple" />
    <add key="hpio" value="8003620000000000" />
    <add key="patientId" value="999999999" />
    <add key="organisationName" value="MEDTESTORGSC3" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>