<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <add key="RedirectUrl" value="https://localhost/oauth_callback" />
    <add key="ScopeUrl" value="https://localhost:8090/pcehr offline_access" />
    <add key="LoginUrl" value="https://apinams.ehealthvendortest.health.gov.au/api/oauth/authorize/login" />
    <add key="TokenEndpointUrl" value="https://apinams.ehealthvendortest.health.gov.au/api/oauth/token" />
    <add key="ClientIdentifier" value="[Your Client Id]" />
    <add key="ClientSecret" value="[Your Client Secret]" />
    <add key="AuthorisationCode" value="" />

  </appSettings>
</configuration>